:root{
    --font:"Montserrat", sans-serif;
    --blanco:#fff;
    --negro:#1e1d1d;
    --gris:#262626; 
    --azul:#0751a0;
  }
  
  
  body {
    margin: 0;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }